<!DOCTYPE html>
<html>
<head>
	<title>MDB</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/86ef774720.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>
<body>
	<h2>Your results</h2>
	<div class="flex-container">
		<% for(var i = 0; i < parseId["Search"].length; i++){ %>
			<% if(parseId.Search[i].Poster !== "N/A" && parseId.Search[i].Type !== "game") { %>
				<div class = "child-flex">	
					<p><a href="/title/<%= parseId.Search[i].Title.split(' ').join('_')%>"><%= parseId.Search[i].Title %></a></p>
					<img src="<%= parseId.Search[i].Poster %>">
					<ul>
						<li>In Theaters: <%= parseId.Search[i].Year %></li>
						<li>Type: <%= parseId.Search[i].Type %></li>
					</ul>
				</div>			
				
			<% } %>
		<% } %>
	</div>
	<script type="text/javascript" src="extract.js"></script>		
	<button><a href="/"><i class="fas fa-chevron-circle-left"></i> Back</a></button>

	<hr>

	<div id="contact">
		<a href="mailto:karthik.srinivasprasad@gmail.com" target="_blank"><ion-icon name="mail"></ion-icon></a>
		<a href="https://www.linkedin.com/in/karthik-s-p-931345122/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
		<a href="https://github.com/karthisp" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
	</div>
</body>
</html>