<!DOCTYPE html>
<html>
<head>
	<title><%=parseId.Title%></title>
</head>
<body>
	<header>
		<!-- Navbar -->
	</header>

	<div class="container">
		<div class="movie-details">
			<div class="title-ratings">
				<h2><%=parseId.Title%></h2>
			</div>

			<!-- PG |||R -->
			<div class="pg-length-genre-release">
				<ul>
					<li>PG rating</li>|
					<li>Film length</li>|
					<li>genre</li>|
					<li>relese date</li>
				</ul>
			</div>

			<!--Poster and other details -->
			<div class="poster-cast-crew">
				<div class="poster">
					<img src="">
				</div>
				
				<div>
					<h3>Director: <span><%=parseId.Cast%></span></h3>
					<h3>Writer(s): <span><%=parseId.Cast%></span></h3>
					<h3>Cast: <span><%=parseId.Cast%></span></h3>
				</div>
			</div>

			<!-- Plot -->
			<div>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
			</div>

		</div>

		<!-- Comments section -->
		<div>
			
		</div>
	</div>

</body>
</html>