<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%=parseId.Title%></title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/title.css">
	<script src="https://kit.fontawesome.com/86ef774720.js" crossorigin="anonymous"></script>
</head>
<body>

	<header class="navbar">
		<div class="logo">
			<a href="/"><i class="fas fa-ticket-alt"></i> MDB</a>
		</div>

		<nav>
			<ul>
				<%if(user){%>
				<li><i class="fas fa-sign-out-alt"></i> <a href="/logout"> Logout </a></li>
				<%} else {%>
				<li><i class="fas fa-sign-in-alt"></i> <a href="/login"> Login </a></li>
				<li><i class="fas fa-user-plus"></i> <a href="/sign_up"> SignUp</a></li>
				<%}%>
			</ul>
		</nav>
	</header>

	<div class="container">
		<div class="frame_1">
			<div class="poster">
				<img src="<%=parseId.Poster%>">
			</div>

			<div class="title-ratings">
				<div class="line_through">
					<%=parseId.Title%>
				</div>
				
				<div class="audience_ratings">

					<div class="imdb">
						<div class="logo">
							<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg">
						</div>
						<p class="ratings"><%=parseId.Ratings[0].Value%></p>
					</div>

					<div class="rotten_tomatoes">
						<div class="logo">
							<img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Rotten_Tomatoes_logo.svg">
						</div>
						<p class="ratings"><%=parseId.Ratings[1].Value%></p>
					</div>

					<div class="metacritic">
						<div class="logo">
							<img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Metacritic_logo.svg">
						</div>
						<p class="ratings"><%=parseId.Ratings[2].Value%></p>
					</div>
				</div>

				<div class="plot">
					<p>Plot</p>
					<p><p class="plot"><%=parseId.Plot%></p></p>
					</div>
			</div>
		</div>

		<!-- Frame_2 -->
		<div class="frame_2">
			<div class="heading_BG">
				<p class="heading">More Info</p>
			</div>

			<div class="more_info"> 
				<div class="other_info"> 
					<p class="catagory">Raings:</p>
					<p class="result"><%=parseId.Rated%></p>
				</div>

				<div class="other_info"> 
					<p class="catagory">Genre:</p>
					<p class="result"><%=parseId.Genre%></p>
				</div>

				<div class="other_info"> 
					<p class="catagory">Directed By:</p>
					<p class="result"><%=parseId.Director%></p>
				</div>				

				<div class="other_info"> 
					<p class="catagory">Written By:</p>
					<p class="result"><%=parseId.Writer%></p>
				</div>

				<div class="other_info"> 
					<p class="catagory">Cast:</p>
					<p class="result"><%=parseId.Actors%></p>
				</div>

				<div class="other_info"> 
					<p class="catagory">In Theaters:</p>
					<p class="result"><%=parseId.Released%></p>
				</div>

				<div class="other_info"> 
					<p class="catagory">On Disc/Streaming:</p>
					<p class="result"><%=parseId.DVD%></p>
				</div>

				<div class="other_info"> 
					<p class="catagory">Runtime:</p>
					<p class="result"><%=parseId.Rated%></p>
				</div>

				<div class="other_info"> 
					<p class="catagory">Studio:</p>
					<p class="result"><%=parseId.Production%></p>
				</div>																				
			</div>
		</div>
		<!-- Comments section -->
		<div class="reviews">
			<div class="heading_comment_button">
				<p>Reviews</p>
				<button><a href="/title/<%=parseId.Title.split(' ').join('_')%>/comments/new">Add Review</a></button>
			</div>

			<div class="user_review">
				<% for(var i=0; i < reviews.length; i++){%>
				<h3><%=reviews[i].user%></h3>
				<p><%=reviews[i].review%></p>
				<hr>
				<%}%>
			</div>
		</div>
	</div>

</body>
</html>
