<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%=parseId.Title%></title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/title.css">
	<script src="https://kit.fontawesome.com/86ef774720.js" crossorigin="anonymous"></script>
</head>
<body>

	<header class="navbar">
		<div class="logo">
			<i class="fas fa-video"></i>
		</div>

		<nav>
			<ul>
				<li><i class="fas fa-sign-in-alt"></i> <a href="/login"> Login </a></li>
				<li><i class="fas fa-sign-out-alt"></i> <a href="/logout"> Logout </a></li>
				<li><i class="fas fa-user-plus"></i> <a href="/sign_up"> SignUp</a></li>
			</ul>
		</nav>
	</header>

	<div class="container">
		<div class="frame_1">
			<div class="poster">
				<img src="<%=parseId.Poster%>">
			</div>

			<div class="title-ratings">
				<div class="line_through"></div>
				<h2 class="title"><%=parseId.Title%></h2>

				<div class="audience_ratings">

					<div class="imdb">
						<div class="logo">
							<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg">
						</div>
						<p class="ratings"><%=parseId.Ratings[0].Value%></p>
					</div>

					<div class="rotten_tomatoes">
						<div class="logo">
							<img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Rotten_Tomatoes_logo.svg">
						</div>
						<p class="ratings"><%=parseId.Ratings[1].Value%></p>
					</div>

					<div class="metacritic">
						<div class="logo">
							<img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Metacritic_logo.svg">
						</div>
						<p class="ratings"><%=parseId.Ratings[2].Value%></p>
					</div>

				</div>
			</div>
		</div>
		<!-- Comments section -->
		<div class="reviews">
			<h2>Reviews</h2>
			<button><a href="/title/<%=parseId.Title.split(' ').join('_')%>/comments/new" target="_blank">Add Review</a></button>
		</div>
	</div>

</body>
</html>