<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%=parseId.Title%></title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/title.css">
	<script src="https://kit.fontawesome.com/86ef774720.js" crossorigin="anonymous"></script>

	<style type="text/css">
		*{
			box-sizing: border-box;
		}

		.container{
			max-width: 900px;
			width:100%;
			margin:0 auto;

		}

		header{
			display:flex;
			justify-content: space-between;
			align-items: center;
			background-color: pink;
		}

		.movie-details{
			border:1px solid black;
		}

		.title-ratings{
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: red
		}

		.ratings{
			display:flex;
			justify-content: space-between;
			align-items: center;
			background-color: green;
		}

		.pg-length-genre-release{
			display:flex;
			justify-content: space-between;
		}

		ul{
			display: flex;
			padding:0;
		}

		li{
			list-style: none;
			padding: 0 5px;

		}
		
		.poster-cast-crew{
			display:flex;
		}

		.poster{
			max-width:200px;
			width:100%;
			height: auto;
			border:1px solid green;
		}

		img{
			max-width:200px;
			width:100%;
			height:auto;
		}

		.cast-crew{
			display: flex;
			flex-direction: column;
			padding-left: 5px;
			line-height: 200%;
		}

		.reviews{
			display:flex;
			align-items: center;
			justify-content: space-between;
		}
	</style>
</head>
<body>

	<header class="navbar">
		<div class="logo">
			<i class="fas fa-video"></i>
		</div>

		<nav>
			<ul>
				<li><i class="fas fa-sign-in-alt"></i> SignIn</li>
				<li><i class="fas fa-sign-out-alt"></i> SignOut</li>
				<li><i class="fas fa-user-plus"></i> SignUp</li>
			</ul>
		</nav>
	</header>

	<div class="container">
		<div class="movie-details">
			<div class="title-ratings">
				<h2><%=parseId.Title%></h2>

				<div class="ratings">
					<div class="site-rating">
						<i class="fab fa-imdb"></i>
						<p><%=parseId.Ratings[0].Value%></p>
					</div>
					<div class="site-rating">
						<i class="fas fa-pepper-hot"></i>
						<p><%=parseId.Ratings[1].Value%></p>
					</div>
					<div class="site-rating">
						<i class="fab fa-megaport"></i>
						<p><%=parseId.Ratings[2].Value%></p>
					</div>
				</div>
			</div>

			<!-- PG |||R -->
			<div class="pg-length-genre-release">
				<ul>
					<li><%=parseId.Rated%></li>|
					<li><%=parseId.Runtime%></li>|
					<li><%=parseId.Genre%></li>|
					<li><%=parseId.Released%></li>
				</ul>
			</div>

			<!--Poster and other details -->
			<div class="poster-cast-crew">
				<div class="poster">
					<img src="<%=parseId.Poster%>">
				</div>

				<div class="cast-crew">
					<ul class="cast-crew">
						<li><strong>Director: </strong><span><%=parseId.Director%></span></li>
						<li><strong>Writer(s): </strong><span><%=parseId.Writer%></span></li>
						<li><strong>Cast: </strong><span><%=parseId.Actors%></span></li>
						<li><strong>Plot: </strong><%=parseId.Plot%></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Comments section -->
		<div class="reviews">
			<h2>Reviews</h2>
			<button><a href="/title/<%=parseId.Title.split(' ').join('_')%>/comments/new" target="_blank">Add Review</a></button>
		</div>
	</div>

</body>
</html>