<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%=parseId.Title%></title>
	<script src="https://kit.fontawesome.com/86ef774720.js" crossorigin="anonymous"></script>

	<style type="text/css">
		*{
			box-sizing: border-box;
		}

		.container{
			max-width: 900px;
			width:100%;
			margin:0 auto;
			border:1px solid black;

		}
	</style>
</head>
<body>
<!-- 	<header>
		Navbar
	</header>
 -->
	<div class="container">
		<div class="movie-details">
			<div class="title-ratings">
				<h2><%=parseId.Title%></h2>

				<div class="ratings">
					<div class="site-rating">
						<i class="fab fa-imdb"></i>
						<p><%=parseId.Ratings[0].Value%></p>
					</div>
					<div class="site-rating">
						<i class="fas fa-pepper-hot"></i>
						<p><%=parseId.Ratings[1].Value%></p>
					</div>
					<div class="site-rating">
						<i class="fab fa-megaport"></i>
						<p><%=parseId.Ratings[2].Value%></p>
					</div>
				</div>
			</div>

			<!-- PG |||R -->
			<div class="pg-length-genre-release">
				<ul>
					<li>PG rating</li>|
					<li>Film length</li>|
					<li>genre</li>|
					<li>relese date</li>
				</ul>
			</div>

			<!--Poster and other details -->
			<div class="poster-cast-crew">
				<div class="poster">
					<img src="<%=parseId.Poster%>">
				</div>
				
				<div>
					<h3>Director: <span><%=parseId.Director%></span></h3>
					<h3>Writer(s): <span><%=parseId.Writer%></span></h3>
					<h3>Cast: <span><%=parseId.Actors%></span></h3>
				</div>
			</div>

			<!-- Plot -->
			<div>
				<h2>Plot</h2>
				<p><%=parseId.Plot%></p>
			</div>

<!-- 		</div>

		Comments section
		<div> -->
			
		</div>
	</div>

</body>
</html>